.my-photo {
    background-image: url(Slide1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0% 40%;
}

.my-thick-hr{
    width: 95%;
    border: 10px solid turquoise;
    margin-left: 0;
}

.my-font{
    color: white
    
}

.my-highlight{
    color: darkturquoise;
    font-size: 2rem;

}

.my-highlight2{
    color: white;
    font-size: 2rem;

}